# Ignore CMake build folders and cache
build/
CMakeFiles/
CMakeCache.txt
cmake-cache/
*.cmake

# IDE files
.vscode/
.idea/

# Compiled source
*.out
*.o
*.obj
*.so
*.a
*.dll
*.exe

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

logged-results
balanced-results

smart-v3-logged-ALL.csv
smart-v3-ml-enriched.csv


venv/
smart-wifi-env/

..lock-ns3_linux_build
.lock-ns3_linux_build

python_files/rest_reslts/
python_files/test_side_by_side/

